@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
    <!--/banner-with-header-->
  <div class="w3l-content-1 py-5">
    <div class="container py-md-5">
      <div class="row content-1-grids">
        <div class="col-lg-5 content-1-left">
          <div class="header-title">
@*            <h6 class="title-subhny">About Us</h6>
*@          @*  <h3 class="title-w3l mb-4">
              We found our creative space that is open for you.
            </h3>*@
             <img src="~/images/pexels-lukas-590016.jpg" width="480" height="400"/>
          </div>
        </div>
        <div class="col-lg-7 content-1-right pl-lg-5 mt-lg-0 mt-3">
                <p class="">
                    <br>
                    Affilic is a platform that promotes products or services in exchange for sale commissions.
                    The compensation amount depends on the affiliate program. Some use a percentage of the sale,
                    while others pay a fixed rate.
                    <br>
                    Besides sales, affiliate marketers can get paid for bringing new traffic and converting users to perform
                    specific actions. These actions may include signing up for an account,
                    subscribing to a newsletter, or downloading an app.
                    <br>

                    To track each conversion and validate the traffic source, merchants use an affiliate link containing 
                    unique information about the referral site.
                    <br>

                    There are many forms of affiliate marketing websites, with product review and comparison sites being
                    the most popular. Other types include independent blogs, online magazines, and coupon websites.
 
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- //content-1-->
  <!--/w3l-agents-block-->
    @*</div>*@

<!-- //Categories-->
<!--//w3l-agents-block-->
<section class="w3l-res-categories py-5">
    <div class="container py-md-5 py-2">
        <div class="header-title text-center">
            <h6 class="title-subhny">What's New</h6>
            <h3 class="title-w3l mb-lg-5">
                Popular Categories
            </h3>
        </div>
        <div class="res-categories-grids row">
            <div class="col-lg-4 col-6 content-left-sec gal-slide-grid mt-lg-0 mt-4">
                <div class="gal-slide-img">
                    <a  asp-area="" asp-controller="Category" asp-action="Index"><img src="~/images/CWCAT.jpg" class="img img-fluid" alt=""></a>
                </div>

                <div class="gal-slide-info p-md-5 p-4">
                    <a style="text-decoration: none" href="#">
                        <h4 class="mt-4 mb-4">Cookware</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-6 content-left-sec gal-slide-grid mt-lg-0 mt-4">
                <div class="gal-slide-img">
                    <a asp-area="" asp-controller="Category" asp-action="Index"><img src="~/images/gcat.jpg" class="img img-fluid" alt=""></a>
                </div>
                <div class="gal-slide-info p-md-5 p-4">
                    <a style="text-decoration: none" href="#">
                        <h4 class="mt-4 mb-4">Garden</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-6 content-left-sec gal-slide-grid mt-lg-0 mt-4">
                <div class="gal-slide-img">
                    <a asp-area="" asp-controller="Category" asp-action="Index"><img src="~/images/techcat.jpg" class="img img-fluid" alt=""></a>
                </div>
                <div class="gal-slide-info p-md-5 p-4">
                    <a style="text-decoration: none"  href="#">
                        <h4 class="mt-4 mb-4">Technology</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-6 content-left-sec gal-slide-grid mt-4 pt-lg-2">
                <div class="gal-slide-img">
                    <a asp-area="" asp-controller="Category" asp-action="Index"><img src="~/images/bakcat_11.jpg" class="img img-fluid" alt=""></a>
                </div>
                <div class="gal-slide-info p-md-5 p-4">
                    <a style="text-decoration: none"  href="#">
                        <h4 class="mt-4 mb-4">Bakery Accessories</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-6 content-left-sec gal-slide-grid mt-4 pt-lg-2">
                <div class="gal-slide-img">
                    <a asp-area="" asp-controller="Category" asp-action="Index"><img src="~/images/artwork.jpg" class="img img-fluid" alt=""></a>
                </div>
                <div class="gal-slide-info p-md-5 p-4">
                    <a style="text-decoration: none" href="#">
                        <h4 class="mt-4 mb-4">Artwork</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-6 content-left-sec gal-slide-grid mt-4 pt-lg-2">
                <div class="gal-slide-img">
                    <a asp-area="" asp-controller="Category" asp-action="Index"><img src="~/images/kscat.jpg" class="img img-fluid" alt=""></a>
                </div>
                <div class="gal-slide-info p-md-5 p-4">
                    <a style="text-decoration: none" href="#">
                        <h4 class="mt-4 mb-4">Kitchen Storage</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>



  <!-- owl carousel -->
  <script src="assets/js/owl.carousel.js"></script>
  <!-- script for tesimonials carousel slider -->
  <script>
    $(document).ready(function () {
      $("#owl-agency").owlCarousel({
        loop: true,
        nav: false,
        margin: 50,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          736: {
            items: 1,
            nav: false
          }
        }
      })
    })
  </script>
  
  <!-- //script for tesimonials carousel slider -->
  <script src="assets/js/bootstrap.min.js"></script>