<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Affiliate Marketing</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AM.WebApp.styles.css" asp-append-version="true" />
    <link href="~/css/style-starter.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="~/images/logo.png" alt="Site Logo" style="height:25px; width: 80px" />
                </a>                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Products</a>
                        </li>
                    </ul>
                    <div class="navbar-nav">
                        <a class="nav-item nav-link">Login</a>
                        <a asp-controller="Authentication" asp-action="Logout" class="nav-item nav-link">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- footer -->
    <section class="w3l-footer-29-main" style="background-color:white">
        <div class="footer-29 py-5">
            <div class="container py-lg-4">
                <div class="row footer-top-29">
                    <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-1 pr-lg-5">
                        <div class="footer-logo mb-3">
                            <h2><a class="" href="index.html" style="color:black;font-weight:bold">Affilic</a></h2>
                        </div>
                        <p>
                            Affilic is a platform that promotes products or services in exchange for sale commissions.
                            The compensation amount depends on the affiliate program.
                            Some use a percentage of the sale, while others pay a fixed rate.
                        </p>
                        <div class="main-social-footer-29 mt-4">
                            <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-primary" style="background-color: #55acee;" href="#!" role="button">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <!-- Instagram -->
                            <a class="btn btn-primary" style="background-color: #ac2bac;" href="#!" role="button">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <!-- Google -->
                            <a class="btn btn-primary" style="background-color: #dd4b39;" href="https://www.google.com/" role="button">
                                <i class="fab fa-google"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-5 col-6 footer-list-29 footer-2 mt-sm-0 mt-5">
                        <div class="footer-logo mb-3">
                            <h2><a class="" href="index.html" style="color:black;font-weight:bold;text-decoration: none">Usefull Links</a></h2>
                           </div>
                        <ul>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="blog.html">Categories </a></li>
                            <li><a href="blog.html">Products </a></li>
                            <li><a href="contact.html">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-5 col-6 footer-list-29 footer-3 mt-lg-0 mt-5">
                        <div class="footer-logo mb-3">
                            <h2><a class="" href="index.html" style="color:black;font-weight:bold;text-decoration: none">More Info</a></h2>
                        </div>
                        <ul>
                            <li><a href="#award">Awards</a></li>
                            <li><a href="#media"> Media</a></li>
                            <li><a href="#support"> Support</a></li>
                        </ul>

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-4 mt-lg-0 mt-5">
                        <div class="footer-logo mb-3">
                            <h2><a class="" href="" style="color:black;font-weight:bold;text-decoration: none">Subscribe to our Newsletter</a></h2>
                        </div>
                        @*<p>Enter your email and receive the latest news, updates and special offers from us.</p>*@
                        <form action="#" class="subscribe mt-4" method="post">
                            <input type="email" name="email" placeholder="Your Email Address" required="">
                            <button class="btn btn-style btn-primary w-100 mt-3" style="background-color:#0082ff  ;border:1px white; border-color:none;outline:none ">
                                Subscibe Now
                                </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //footer -->
@*    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Affiliate Marketing - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
*@    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/theme-change.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
