@model AM.Business.Models.CategoryModel

@{
    ViewData["Title"] = "Edit";
}

<p>
    <a asp-action="Create" class="btn btn-sm btn-success ml-1  mt-4 mb-2" style="background-color:#0082ff">Edit Category</a>
</p>

<h4>CategoryModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
                <input asp-for="Id" class="form-control" type="hidden" />
               
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="widthtext" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img" class="control-label"></label>
                <input asp-for="Img" class="widthtext" />
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update"   class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
